.page {
  background-color: #f6f6f6;
  min-height: 100vh;
  background-size: cover;
}
.open_create_btn {
  border: none;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  transition: all 200ms linear;
}
.open_create_btn:hover {
  transform: scale(1.2);
}
.content_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
