.item {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgba(70 75 75/0.5);
  padding: 20px 0;
  position: relative;
  background-color: #fff;
  max-width: 350px;
  max-height: 180px;
  margin-bottom: 40px;
}

.setting {
  right: 10px;
  top: 10px;
  position: absolute;
  background-image: url('../../img/settings.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.setting:hover {
  transform: scale(1.2);
}

.item p {
  padding: 0 10px;
  font-size: 20px;
  margin-bottom: 14px;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.password {
  position: relative;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 4px 30px 4px 10px;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.password_active {
  position: relative;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 4px 30px 4px 10px;
  font-size: 18px;
  line-height: 30px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show {
  right: 8px;
  position: absolute;
  background-image: url('../../img/eye.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.show_active {
  composes: show;
  background-image: url('../../img/invisible.svg');
}

@media (min-width: 768px) {
  .item {
    margin: 0;
  }
}
@media (min-width: 1130px) {
  .item {
    width: 45%;
    margin-right: 20px;
  }
}
@media (min-width: 1300px) {
  .item {
    max-width: 400px;
    margin-right: 20px;
    padding: 30px 0;
  }
}
@media (min-width: 1440px) {
  .item {
    width: 30%;
  }
}
.item {
  margin-bottom: 40px;
}
